<a href="https://colab.research.google.com/github/kvraagul/Innomatics_Internship_APR_21/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INNOMATICS INTERNSHIP APRIL 2021**

**TASK 2**

In [2]:
#Nested Lists

if __name__ == '__main__':
    final_list =[]
    marks=[]
    for _ in range(int(input())):
        l= list()
        l.append(input())
        score = float(input())
        l.append(score)
        marks.append(score)
        final_list.append(l)
    marks.sort()
    min_value = marks[0]
    marks.remove(min_value)
    for i in marks:
        if i>min_value:
            Result_value = i
            break
    Result_names=[]
    for i in range(len(final_list)):
        if Result_value in final_list[i]:
            Result_names.append(final_list[i][0])
    Result_names.sort()
    for i in Result_names:
        print(i)

5
Harry
43.3
Berry
6
Cherry
78
Soori
9.32
RAt
10
Soori

In [4]:
# List Comprehension

if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    end_list=[]
    
    for i in range(1+x):
        for j in range(1+y):
            for k in range(1+z):
                if i+j+k!=n:
                    A=[i,j,k]
                    end_list.append(A)
                else:
                    continue
                
    print(end_list)

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [5]:
# Find the Runner Up

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    arr.sort()
    max1=arr[-1]
    arr.sort(reverse=True)
    for i in arr:
        if i!=max1:
            result = i
            print(result)
            break

5
2 3 6 6 5
5

In [7]:
# Finding the Percentage

if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    for i in student_marks:
        j = student_marks.get(i)
        if i==query_name:
            result = 0
            for k in j:
                result+= float(k)
            print("{:.2f}".format((result/len(j))))
            break
        else:
            continue

3
k 60 70 80
r 40 50 60
v 70 80 50
v
66.67

In [8]:
# Lists

if __name__ == '__main__':
    lst = []
    N = int(input())
    for i in range(N):
        mn= list(input("").split(" "))
        
        if mn[0]=="insert":
            a , b = map(int , (mn[1],mn[2]))
            lst.insert(a,b)
            
        elif mn[0]=="print":
            print(lst)
            
        elif mn[0]=="remove":
                lst.remove(int(mn[1]))

        elif mn[0]=="append":
            lst.append(int(mn[1]))
            
        elif mn[0]=="sort":
            lst.sort()
        
        elif mn[0]=="pop":
            
            lst.pop()
        elif mn[0]=="reverse":
            lst.reverse()po

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [9]:
# Tuples

if __name__ == '__main__':
    n = int(input())
    integer_list = tuple(map(int, input().split()))
    print(hash(integer_list))

2
1 2
3713081631934410656

In [11]:
# Introduction to sets

def average(array):
    return (sum(set(array))/len(set(array)))


if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161
161.0

In [12]:
# No Idea

n , m = map(int , input("").split(" "))
n_list=list(map(int , input("").split(" ")))
Set_A=set(int(x) for x in input("").split(" "))
Set_B = set(int(x) for x in input("").split(" "))
result=0
for i in n_list:
    if i in Set_A:
        result+=1
    elif i in Set_B:
        result-=1
    elif i not in Set_B and i not in Set_A:
        pass
print(result)

3 2
1 5 3
3 1
2

In [14]:
# Set .add()

n=int(input(""))
s = set()
for i in range(n):
    m=input("")
    s.add(m)

print(len(s))

5
India
Aus
Eng
India
Eng
3

In [15]:
#Set .discard(), .remove() & .pop()d

n = int(input())
s = set(map(int, input().split(" ")))
m = int(input())
for i in range(0,m):
    x=list(input().split(" "))
    if x[0]=="pop":
        s.pop()
    elif x[0]=="remove":
        j = int(x[1])
        s.remove(j)
    elif x[0]=="discard":
        j = int(x[1])
        s.discard(j)
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

In [16]:
# Set .union() Operation

n1 = int(input(""))
ls1=set(map(int , input("").split(" ")))
n2 = int(input(""))
ls2=set(map(int , input("").split(" ")))
ma = set(ls1.union(ls2))
output =0
for i in ma:
    output+=1

output = str(output)
print(output)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 55 21 8 6
13

In [17]:
# Set .intersection() Operation

n1 = int(input(""))
ls1=set(map(int , input("").split(" ")))
n2 = int(input(""))
ls2=set(map(int , input("").split(" ")))
ma = set(ls1.intersection(ls2))
output=0
for i in ma:
  output+=1
print(output)

6
1 2 3 4 5 6
6
3 7 8 6 0
2

In [18]:
# Set .difference() Operation

m = int(input(""))
ma = set(map(int , input("").split(" ")))
m1 = int(input(""))
ma1 = set(map(int , input("").split(" ")))
Final_Set = ma.difference(ma1)
output = 0
for i in Final_Set:
    output+=1
print(output)

5
1 2 3 4 5
5
4 5 6 7 8
3

In [19]:
# Set .symmetric_difference() Operation

a1 = int(input(""))
s = set(filter(int , input("").split(' ')))
a2 = int(input(""))
Final_Set = set(filter(int , input("").split(' ')))
SetA = s.symmetric_difference(Final_Set)
output = 0
for i in SetA:
    output+=1
print(output)

5
1 2 3 4 5
5
4 5 6 7 8
6

In [ ]:
# Check Subset

def Subset(a,b):
    result = 0
    for i in a:
        if i in b:
            result = 1
        else:
            result = 0
            break
    return True if result == 1 else False# Using Ternary Operator

test_case = int(input(""))

for i in range(test_case):
    a= int(input(""))
    seta = set(int(x) for x in input().split(" "))
    b =int(input(""))
    setb = set(int(x) for x in input().split(" "))
    print(Subset(seta , setb))