<a href="https://colab.research.google.com/github/kvraagul/Innomatics_Internship_APR_21/blob/main/Task_10(EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INNOMATICS INTERNSHIP APRIL 2021**

**TASK 10 EXPLORATORY DATA ANALYSIS**

# Importing the Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Importing the Dataset

In [ ]:
dataset = pd.read_excel('aspiring_minds_employability_outcomes_2015.xlsx')

# Description of Dataset

In [ ]:
dataset.head()

  Unnamed: 0   Salary  ... nueroticism openess_to_experience
0      train   420000  ...     1.35490               -0.4455
1      train   500000  ...    -0.10760                0.8637
2      train   325000  ...    -0.86820                0.6721
3      train  1100000  ...    -0.40780               -0.9194
4      train   200000  ...     0.09163               -0.1295

[5 rows x 38 columns]

In [ ]:
dataset.shape

(3998, 38)

In [ ]:
dataset.describe()

             Salary  10percentage  ...  nueroticism  openess_to_experience
count  3.998000e+03   3998.000000  ...  3998.000000            3998.000000
mean   3.076998e+05     77.925443  ...    -0.169033              -0.138110
std    2.127375e+05      9.850162  ...     1.007580               1.008075
min    3.500000e+04     43.000000  ...    -2.643000              -7.375700
25%    1.800000e+05     71.680000  ...    -0.868200              -0.669200
50%    3.000000e+05     79.150000  ...    -0.234400              -0.094300
75%    3.700000e+05     85.670000  ...     0.526200               0.502400
max    4.000000e+06     97.760000  ...     3.352500               1.822400

[8 rows x 26 columns]

In [ ]:
X = dataset.iloc[:, 2:].values
y = dataset.iloc[:, 1 ].values

In [ ]:
print(X)

[[Timestamp('2012-06-01 00:00:00') 'present' 'senior quality engineer'
  ... 0.5269 1.3549 -0.4455]
 [Timestamp('2013-09-01 00:00:00') 'present' 'assistant manager' ...
  1.2396 -0.1076 0.8637]
 [Timestamp('2014-06-01 00:00:00') 'present' 'systems engineer' ...
  0.1637 -0.8682 0.6721]
 ...
 [Timestamp('2013-07-01 00:00:00') 'present'
  'associate software engineer' ... -1.5051 -1.3184 -0.7615]
 [Timestamp('2014-07-01 00:00:00') datetime.datetime(2015, 1, 1, 0, 0)
  'software developer' ... -0.4511 -0.3612 -0.0943]
 [Timestamp('2013-02-01 00:00:00') 'present' 'senior systems engineer'
  ... -0.6343 1.32552999999999 -0.6035]]

In [ ]:
print(y)

[420000 500000 325000 ... 320000 200000 400000]

# Missing Data

In [ ]:
dataset.isnull().sum()

Unnamed: 0               0
ID                       0
Salary                   0
DOJ                      0
DOL                      0
Designation              0
JobCity                  0
Gender                   0
DOB                      0
10percentage             0
10board                  0
12graduation             0
12percentage             0
12board                  0
CollegeID                0
CollegeTier              0
Degree                   0
Specialization           0
collegeGPA               0
CollegeCityID            0
CollegeCityTier          0
CollegeState             0
GraduationYear           0
English                  0
Logical                  0
Quant                    0
Domain                   0
ComputerProgramming      0
ElectronicsAndSemicon    0
ComputerScience          0
MechanicalEngg           0
ElectricalEngg           0
TelecomEngg              0
CivilEngg                0
conscientiousness        0
agreeableness            0
extraversion             0
nueroticism              0
openess_to_experience    0
dtype: int64

**There is no missing Data in the given Dataset**

# Encoding Categorical Data

  **For Independent Variable**

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
print(X)

[[0.0 0.0 0.0 ... 0.5269 1.3549 -0.4455]
 [0.0 0.0 0.0 ... 1.2396 -0.1076 0.8637]
 [0.0 0.0 0.0 ... 0.1637 -0.8682 0.6721]
 ...
 [0.0 0.0 0.0 ... -1.5051 -1.3184 -0.7615]
 [0.0 0.0 0.0 ... -0.4511 -0.3612 -0.0943]
 [0.0 0.0 0.0 ... -0.6343 1.32552999999999 -0.6035]]

# Splitting the Dataset to training set and test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
print(X_train)

[[0.0 0.0 0.0 ... 0.8171 -0.9953 -0.7615]
 [0.0 0.0 0.0 ... 0.7785 -0.2344 -1.244]
 [0.0 0.0 0.0 ... 1.0859 2.1743 0.6721]
 ...
 [0.0 0.0 0.0 ... -0.9245 -0.6428 -0.6035]
 [0.0 0.0 0.0 ... 0.2366 0.2973 -0.2875]
 [0.0 0.0 0.0 ... -0.9245 -1.5828 0.6603]]

In [ ]:
print(X_test)

[[0.0 0.0 0.0 ... -1.0697 0.1798 -0.6035]
 [0.0 0.0 0.0 ... -0.4511 -0.8682 -0.6692]
 [0.0 0.0 0.0 ... 0.7785 -1.5021 0.4805]
 ...
 [0.0 0.0 0.0 ... 0.4711 -1.8824 -0.6692]
 [0.0 0.0 0.0 ... 0.4711 0.3995 -1.0524]
 [0.0 0.0 0.0 ... -0.0537 -0.4078 0.9763]]

In [ ]:
print(y_train)

[110000 340000 300000 ... 150000 120000 300000]

In [ ]:
print(y_test)

[ 440000  300000  325000  145000  180000  325000  400000  100000  500000
  200000  310000  435000  450000  450000  500000  290000  505000   50000
  620000  350000 3500000  450000  200000  305000  520000  330000  350000
  180000  555000  240000  325000  205000  180000  210000  425000  180000
  500000  375000  145000  430000  120000  600000  415000  240000  450000
  415000  240000  190000  145000  190000  200000  355000  360000  450000
  500000  120000  400000  180000  225000  380000  440000  300000  180000
  305000  240000  325000  225000  120000  420000  150000  305000  275000
  200000  335000  400000  450000  100000  300000  315000  140000  390000
  200000  240000  300000  375000  330000  150000  310000  400000  630000
  700000  320000  220000  405000  120000  650000  400000  100000  650000
  320000  410000  250000  200000  600000  305000  275000  120000  250000
  420000  360000  315000  360000  180000  310000  510000  520000 1200000
  375000  380000  420000  305000  145000  180000  385000  375000  300000
  445000  150000  100000  910000  190000   45000  530000  415000  180000
  200000  300000  105000  120000  325000  145000  120000  600000  250000
  150000  700000  300000  325000  300000  370000  180000  145000  415000
  290000  120000  300000  300000  410000  215000  240000  120000  325000
  315000  200000  335000  355000 2020000  435000  400000  335000  150000
  185000  325000  470000  450000  390000  120000  275000  110000  350000
  275000  275000  430000  180000  225000  180000  515000  330000  215000
  250000  320000  225000  250000  360000  300000  400000 1100000  300000
  200000  100000  395000  250000  310000  180000  195000  325000  170000
  450000  180000  325000  145000  315000  200000  320000  350000  200000
  450000  240000  300000  320000  240000  400000  180000  240000  365000
  520000  500000  225000  200000  200000  120000  150000  325000  240000
  300000  275000  335000  240000  300000   80000  150000  555000  175000
  305000  340000  300000  225000  325000  350000  300000  120000 2000000
  310000  240000  360000  150000  120000  240000  335000  105000  800000
  175000  615000  300000  140000  180000  200000  110000  420000  310000
  505000  230000  200000  355000  200000  240000  400000  590000  105000
  105000  325000  250000  355000 2300000  325000  240000  120000  240000
  330000  100000  325000  340000  180000  410000  810000  325000  180000
  400000  145000  320000  225000  300000  330000  240000  325000  500000
  200000  170000  340000  300000  120000  180000  205000  700000  325000
  325000  145000  275000  180000  200000   50000  175000  400000  105000
  415000  180000  120000  120000  240000  300000   35000  240000  180000
  320000  450000   45000  300000  280000  390000  500000  160000  480000
  300000  325000  200000 1050000  220000   85000  200000  170000  730000
  390000  200000  480000  185000  370000  300000  435000  200000  400000
  145000  335000  150000  355000  145000  200000  410000  175000  100000
  455000  480000  325000  100000  305000  330000  450000  225000  330000
 1210000  240000  100000  370000  300000  350000  145000  200000  165000
  610000  200000  385000  385000  300000  170000  325000  320000  180000
  100000  145000  405000  405000  500000  420000  310000  505000  200000
  550000  180000  350000  200000  450000  310000  150000  800000  220000
  350000  290000  120000  270000  400000  180000  120000  180000  415000
  180000  130000  110000  100000  570000  144000   75000  180000  180000
  180000   90000 1300000  300000  300000  150000  370000  325000   70000
  200000  350000  630000  360000  180000  200000  400000  120000  480000
  350000  400000  160000  325000  335000  550000  420000  465000  325000
  180000  510000  110000  400000  325000  265000  150000  145000  380000
  115000  335000  150000 1000000  315000   85000  180000  410000  300000
  195000  350000  350000  720000  180000  240000   95000  300000  240000
  225000  180000  320000   95000  120000  145000  240000  155000  325000
  150000  325000  400000  180000  330000  125000  600000  240000  165000
  120000  240000  300000  460000  335000  180000   95000  100000  180000
  475000 1110000  325000  100000  200000  400000  120000  300000  180000
  325000  430000 1100000  260000  400000  390000  390000  405000  215000
  600000  165000  315000  650000  455000  335000  400000  240000  205000
  180000  325000  250000  300000  200000  550000  240000  500000  350000
  240000  320000   80000  280000  445000  320000  200000  360000  600000
  450000  400000  235000  450000  210000   90000  455000  240000  320000
  300000  200000   85000  280000  400000   60000  240000  240000  820000
  275000  210000 1200000  460000  495000  135000  320000  215000  340000
  325000  410000  320000  180000  180000  325000  415000  205000  335000
  150000  300000  420000  145000  335000  325000   35000  180000  400000
  150000  220000  400000  225000  110000  320000  475000  240000  310000
  560000  560000  630000  320000  275000  315000  180000  120000  180000
  220000  400000  120000  470000  350000  120000  600000  180000  215000
  320000  180000  200000  325000  120000  350000  205000  250000  380000
  390000  155000  120000  260000  300000  325000  340000  170000  470000
  200000  100000  300000  335000  300000  325000  200000  230000  370000
  360000  240000  300000  250000  305000  110000  385000  200000  145000
  315000  240000  300000  400000  315000   95000  140000  280000  375000
  145000  105000  250000  185000  180000  255000  345000 1200000  180000
   70000  100000  235000  500000  205000  400000  185000  540000  400000
  325000  300000  180000  165000  480000   85000  355000  400000  160000
  400000  180000  330000  620000  200000  380000  320000  350000  180000
  200000  360000  350000  220000  325000  105000  310000  250000  310000
  325000  275000  150000  400000  120000  325000  340000  100000  250000
  185000  320000  240000  180000  375000  100000  280000  390000  340000
  170000  105000  270000  470000  425000  310000  180000  500000  305000
  300000  240000  335000  400000  180000  325000  200000  330000  280000
  300000  200000  240000  360000  200000  350000  580000  260000  370000
  120000  380000  300000  110000  120000  300000  220000  300000   80000
  320000  170000  565000  240000  360000  240000  325000  180000  300000
  415000  335000  335000  300000 3000000  135000  120000  350000  555000
  300000  450000  420000  300000  200000  325000  275000  200000]